.center-title {
    text-align: center;
    padding-bottom: 3%;
}

.padding-bottom-block {
    padding-bottom: 5%;
}

.right-button {
    float: right;
}

.margin-top-button {
    margin-top: 1%;
}

.inline {
    display: inline;
}

.table-line {
    font-size: 20pt;
}

tr {
    font-size: 13pt;
}

.validation-error {
    display: block;
    color: red;
}

.all-width {
    width: 100%;
    display: block;
}

.small-padding-bottom-block {
    padding-bottom: 1%;
}

.btn-bottom-margin {
    margin-bottom: 1%;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

header > span {
    display: inline-block;
    min-width: 150px;
}

.float-right {
    float: right;
}

.active {
    font-weight: bold;
}