<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Создание курса</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<h1 sec:authorize="hasRole('ADMIN')" class="display-1 center-title">Создать курс</h1>
<h1 sec:authorize="!hasRole('ADMIN')" class="display-1 center-title">Курс</h1>
<div class="container-md">
    <form sec:authorize="hasRole('ADMIN')" class="mb-3 padding-bottom-block">
        <label for="courseImg" class="form-label">Выберите обложку курса:</label>
        <input class="form-control" type="file" id="courseImg">
        <button type="submit" class="btn btn-success right-button margin-top-button">Обновить</button>
    </form>
    <div class="padding-bottom-block">
        <form th:object="${course}" th:method="post" th:action="@{/course}">
            <input type="hidden" th:field="*{id}">
            <label for="courseName">Название:</label>
            <div class="small-padding-bottom-block">
                <input type="text" class="form-control all-width" id="courseName"
                       placeholder="Название" aria-label="Названию" th:field="*{title}">
                <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    Course title has to be filled
                </small>
            </div>
            <label for="author">Автор:</label>
            <div class="small-padding-bottom-block">
                <input type="text" class="form-control" id="author" placeholder="Имя"
                       aria-label="Имя автора" th:field="*{author}">
                <small class="validation-error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
                    Course author has to be filled
                </small>
            </div>
            <button sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-success right-button">Сохранить
            </button>
        </form>
    </div>
    <div th:if="${lessons != null}" class="padding-bottom-block">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/course/{id}/lessons/new(id = ${course.id})}">
            <button type="button" class="btn btn-success btn-bottom-margin">Новый урок</button>
        </a>
        <div><label>Уроки:</label></div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:unless="${lessons.isEmpty()}" th:each="lesson : ${lessons}">
                <th scope="row" th:text="${lesson.id}">1</th>
                <td>
                    <a th:text="${lesson.title}"
                       th:href="@{/course/{courseId}/lessons/{lessonId}(courseId = ${course.id}, lessonId = ${lesson.id})}">
                        Lesson name
                    </a>
                </td>
                <td>
                    <form sec:authorize="hasRole('ADMIN')" th:method="delete"
                          th:action="@{/course/{courseId}/lessons/{lessonId}(courseId = ${course.id}, lessonId = ${lesson.id})}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${course.lessons.isEmpty()}">
                <td colspan="3">Нет данных</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')" th:if="${users != null}" class="padding-bottom-block">
        <label>Пользователи, связанные с курсом</label>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:unless="${users.isEmpty()}" th:each="user : ${users}">
                <th scope="row" th:text="${user.id}">1</th>
                <td th:text="${user.username}">Username</td>
                <td>
                    <form th:method="post"
                          th:action="@{/course/{courseId}/take_off/{userId}(courseId = ${course.id}, userId = ${user.id})}">
                        <button type="submit" class="btn btn-danger">Снять с курса</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${users.isEmpty()}">
                <td colspan="3">Нет данных</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>